<h4>Title</h4>

<div class="row form-group">
	<div class="col-lg-12">
		<input type="text" class="form-control" id="pieTitle" value="{{config.header.title.text}}" />
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<label for="pieSubtitle" class="control-label">Subtitle</label>
	</div>
</div>
<div class="row form-group">
	<div class="col-lg-12">
		<input type="text" class="form-control" id="pieSubtitle" value="{{config.header.subtitle.text}}" />
	</div>
</div>

<div class="row col-lg-12">
	<label for="titleLocation" class="control-label">Title Location</label>
</div>
<div class="row form-group">
	<div class="col-lg-12">
		<select id="titleLocation" class="form-control changeUpdateNoAnimation">
			<option value="top-left" {{#compare config.header.location "top-left"}}selected="selected"{{/compare}}>Top-left</option>
			<option value="top-center" {{#compare config.header.location "top-center"}}selected="selected"{{/compare}}>Top-center</option>
			<option value="pie-center" {{#compare config.header.location "pie-center"}}selected="selected"{{/compare}}>Pie center (donuts only)</option>
		</select>
	</div>
</div>


<h4 style="padding-top: 10px">Title Styles</h4>

<div id="titleStyles">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-3"><label>Color</label></div>
		<div class="col-md-4"><label>Font</label></div>
		<div class="col-md-3"><label>Font Size</label></div>
	</div>

	<div class="row">
		<div class="col-md-2"><label for="titleColor">Title</label></div>
		<div class="col-md-3">
			<div id="titleColorGroup" class="colorGroup input-group form-group">
				<input type="text" id="titleColor" value="{{config.header.title.color}}" class="form-control" />
				<span class="input-group-addon"><i></i></span>
			</div>
		</div>
		<div class="col-md-4">
			<select id="titleFont" class="form-control changeUpdateNoAnimation">
				<optgroup label="Standard Fonts">
					<option value="arial" {{#compare config.header.title.font "arial"}}selected="selected"{{/compare}}>Arial</option>
					<option value="courier" {{#compare config.header.title.font "courier"}}selected="selected"{{/compare}}>Courier</option>
					<option value="garamond" {{#compare config.header.title.font "garamond"}}selected="selected"{{/compare}}>Garamond</option>
					<option value="georgia" {{#compare config.header.title.font "georgia"}}selected="selected"{{/compare}}>Georgia</option>
					<option value="helvetica" {{#compare config.header.title.font "helvetica"}}selected="selected"{{/compare}}>Helvetica</option>
					<option value="lucida sans" {{#compare config.header.title.font "georgia"}}selected="selected"{{/compare}}>Lucida Sans</option>
					<option value="times new roman" {{#compare config.header.title.font "times new roman"}}selected="selected"{{/compare}}>Times New Roman</option>
					<option value="verdana" {{#compare config.header.title.font "verdana"}}selected="selected"{{/compare}}>Verdana</option>
				</optgroup>
				<optgroup label="Web Fonts">
					<option value="cinzel" {{#compare config.header.title.font "cinzel"}}selected="selected"{{/compare}}>Cinzel</option>
					<option value="exo" {{#compare config.header.title.font "exo"}}selected="selected"{{/compare}}>Exo</option>
					<option value="open sans" {{#compare config.header.title.font "open sans"}}selected="selected"{{/compare}}>Open Sans</option>
				</optgroup>
			</select>
		</div>
		<div class="col-md-3">
			<input id="titleFontSize" type="number" class="pixelSizeField keyupUpdateNoAnimation numbers"
				value="{{numbersOnly config.header.title.fontSize}}" min="1" />
			<label for="titleFontSize">px</label>
		</div>
	</div>

	<div class="row">
		<div class="col-md-2"><label for="subtitleColor">Subtitle</label></div>
		<div class="col-md-3">
			<div id="subtitleColorGroup" class="colorGroup input-group form-group">
				<input type="text" id="subtitleColor" value="{{config.header.subtitle.color}}" class="form-control" />
				<span class="input-group-addon"><i></i></span>
			</div>
		</div>
		<div class="col-md-4">
			<select id="subtitleFont" class="form-control changeUpdateNoAnimation">
				<optgroup label="Standard Fonts">
					<option value="arial" {{#compare config.header.subtitle.font "arial"}}selected="selected"{{/compare}}>Arial</option>
					<option value="courier" {{#compare config.header.subtitle.font "courier"}}selected="selected"{{/compare}}>Courier</option>
					<option value="garamond" {{#compare config.header.subtitle.font "garamond"}}selected="selected"{{/compare}}>Garamond</option>
					<option value="georgia" {{#compare config.header.subtitle.font "georgia"}}selected="selected"{{/compare}}>Georgia</option>
					<option value="helvetica" {{#compare config.header.subtitle.font "helvetica"}}selected="selected"{{/compare}}>Helvetica</option>
					<option value="lucida sans" {{#compare config.header.subtitle.font "lucida sans"}}selected="selected"{{/compare}}>Lucida Sans</option>
					<option value="times new roman" {{#compare config.header.subtitle.font "times new roman"}}selected="selected"{{/compare}}>Times New Roman</option>
					<option value="verdana" {{#compare config.header.subtitle.font "verdana"}}selected="selected"{{/compare}}>Verdana</option>
				</optgroup>
				<optgroup label="Web Fonts">
					<option value="cinzel" {{#compare config.header.subtitle.font "cinzel"}}selected="selected"{{/compare}}>Cinzel</option>
					<option value="exo" {{#compare config.header.subtitle.font "exo"}}selected="selected"{{/compare}}>Exo</option>
					<option value="open sans" {{#compare config.header.subtitle.font "open sans"}}selected="selected"{{/compare}}>Open Sans</option>
				</optgroup>
			</select>
		</div>
		<div class="col-md-3">
			<input id="subtitleFontSize" type="number" class="pixelSizeField numbers keyupUpdateNoAnimation"
				value="{{numbersOnly config.header.subtitle.fontSize}}" min="1" />
			<label for="subtitleFontSize">px</label>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-5">
			<label>Title-subtitle padding</label>
		</div>
		<div class="col-lg-7">
			<input type="number" id="titleSubtitlePadding" value="{{config.header.titleSubtitlePadding}}" min="0"
				class="pixelSizeField numbers keyupUpdateNoAnimation" />
		</div>
	</div>
</div>