<h4>Misc</h4>

<div class="row form-group">
	<div class="col-lg-12">
		<label for="percentageDecimalPlace" class="control-label">Decimal places for percentage values</label>
		<input type="number" id="percentageDecimalPlace" class="tinyField keyupUpdateNoAnimation" min="0" max="20"
			value="{{config.misc.percentageDecimalPlace}}" />
	</div>
</div>


<h4>Padding</h4>

<div class="misc">
	<div class="row">
		<div class="col-lg-3">
			<label>Canvas Top</label>
		</div>
		<div class="col-lg-3">
			<label>Canvas Right</label>
		</div>
		<div class="col-lg-3">
			<label>Canvas Bottom</label>
		</div>
		<div class="col-lg-3">
			<label>Canvas Left</label>
		</div>
	</div>

	<div class="row form-group">
		<div class="col-lg-3">
			<input type="number" id="canvasPaddingTop" value="{{config.misc.canvasPadding.top}}" min="0"
				class="smallField keyupUpdateNoAnimation" />
		</div>
		<div class="col-lg-3">
			<input type="number" id="canvasPaddingRight" value="{{config.misc.canvasPadding.right}}" min="0"
				class="smallField keyupUpdateNoAnimation" />
		</div>
		<div class="col-lg-3">
			<input type="number" id="canvasPaddingBottom" value="{{config.misc.canvasPadding.bottom}}" min="0"
				class="smallField keyupUpdateNoAnimation" />
		</div>
		<div class="col-lg-3">
			<input type="number" id="canvasPaddingLeft" value="{{config.misc.canvasPadding.left}}" min="0"
				class="smallField keyupUpdateNoAnimation" />
		</div>
	</div>

	<div class="row">
		<div class="col-lg-3">
			<label>Title-subtitle pad</label>
		</div>
		<div class="col-lg-9"></div>
	</div>

	<div class="row form-group">
		<div class="col-lg-3">
			<input type="number" id="titleSubtitlePadding" value="{{config.misc.titleSubtitlePadding}}" min="0"
				   class="smallField keyupUpdateNoAnimation" />
		</div>
		<div class="col-lg-9"></div>
	</div>
</div>

<h4>Pie Center Offset</h4>

<div class="misc">
	<div class="row">
		<div class="col-lg-3">
			<label>&plusmn; x</label>
		</div>
		<div class="col-lg-3">
			<label>&plusmn; y</label>
		</div>
	</div>

	<div class="row form-group">
		<div class="col-lg-3">
			<input type="number" id="pieCenterOffsetX" value="{{config.misc.pieCenterOffset.x}}" min="-500" max="500" step="5"
				class="smallField keyupUpdateNoAnimation" />
		</div>
		<div class="col-lg-3">
			<input type="number" id="pieCenterOffsetY" value="{{config.misc.pieCenterOffset.y}}" min="-500" max="500" step="5"
				class="smallField keyupUpdateNoAnimation" />
		</div>
		<div class="col-lg-6">
		</div>
	</div>
</div>