<div class="tab-content">

	<div class="tab-pane fade active in" id="main">
		<div class="row col-lg-12">
			<label for="pieTitle" class="control-label">Title</label>
		</div>
		<div class="row col-lg-12 form-group">
			<input type="text" class="form-control" id="pieTitle" value="{{config.title.text}}" />
		</div>

		<div class="row">
			<div class="col-md-5">
				<label for="titleColor" class="control-label">Title Color</label>
				<div id="titleColorGroup" class="colorGroup input-group form-group">
					<input type="text" id="titleColor" value="{{config.title.color}}" class="form-control" />
					<span class="input-group-addon"><i></i></span>
				</div>
			</div>
			<div class="col-md-7">

				<label for="titleLocation" class="control-label">Title Location</label>
				<div class="form-group padRight30">
					<select class="form-control">
						<option value="top-left">Top-left</option>
						<option value="top-center">Top-center</option>
						<option value="pie-center">Pie center (donuts only)</option>
					</select>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-5">
				<label for="fontFamily" class="control-label">Font</label>
				<select id="titleFont" class="form-control">
					<option value="arial">Arial</option>
					<option value="times new roman">Times New Roman</option>
					<option value="courier">Courier</option>
					<option value="verdana">Verdana</option>
					<option value="helvetica">Helvetica</option>
					<option value="palatino">Palatino</option>
					<option value="garamond">Garamond</option>
					<option value="bookman">Bookman</option>
					<option value="trebuchet">Trebuchet</option>
				</select>
			</div>
			<div class="col-md-7">
				<label for="fontSize" class="control-label">Font Size</label>
				<div class="form-group">
					<input id="fontSize" type="text" size="4" value="{{config.title.fontSize}}" />
					<select class="form-control" style="width:60px; display:inline-block">
						<option value="px">px</option>
						<option value="pt">pt</option>
					</select>
				</div>
			</div>
		</div>
	</div>

	<div class="tab-pane fade" id="labels">
		<ol>
			<li>Location: outside / inside</li>
			<li>Label format: label + % / label + value / label only</li>
			<li>Tooltips</li>
		</ol>
	</div>

	<div class="tab-pane fade" id="data">
		<table id="data-table" class="table table-striped table-bordered table-hover">
			<thead>
			<tr>
				<th style="width:30%">Label</th>
				<th style="width:20%">Value</th>
				<th style="width:50%">Tooltip</th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			{{#each config.data}}
			<tr>
				<td><input type="text" value="{{label}}" /></td>
				<td><input type="text" value="{{value}}" /></td>
				<td><input type="text" value="{{tooltip}}" /></td>
				<td><span class="removeRow"></span></td>
			</tr>
			{{/each}}
			</tbody>
		</table>

		<ul class="pager">
			<li class="previous"><a href="#">Add row &raquo;</a></li>
		</ul>
	</div>

	<div class="tab-pane fade" id="styles">
		<div class="row col-lg-12">
			<label for="innerRadius" class="control-label">Inner Radius</label>
		</div>
		<div class="row col-lg-12 form-group">
			<input type="range" id="innerRadius" min="1" max="100" value="{{config.innerRadius}}" style="width:100%" />
		</div>
	</div>

	<div class="tab-pane fade" id="colors">
		<div class="row col-lg-12">
			<label for="titleColor" class="control-label">Background Color</label>
		</div>
		<div class="row col-lg-12 form-group">
			<div>
				<input type="radio" name="backgroundColor" value="transparent" {{#compare config.backgroundColor null operator="=="}}checked="checked"{{/compare}} />
				<label for="backgroundColor" style="margin-left:5px">Transparent</label>
			</div>

			<input type="radio" name="backgroundColor" value="" {{#compare config.backgroundColor null operator="!="}}checked="checked"{{/compare}} />
			<div style="display:inline-block; margin-bottom: -14px; margin-left:5px">
				<div id="backgroundColorGroup" class="colorGroup input-group">
					<input type="text" id="backgroundColor" value="{{config.backgroundColor}}" class="form-control" />
					<span class="input-group-addon"><i></i></span>
				</div>
			</div>
		</div>

		<div class="row col-lg-12">
			<label class="control-label">Segment Colors</label>
		</div>
	</div>


	<div class="tab-pane fade" id="transitions">
		<div class="row col-lg-12">
			<label for="titleColor" class="control-label">Load effect</label>
		</div>
		<div class="row col-lg-12 form-group">
			<select class="form-control">
				<option value="none">None</option>
				<option value="fadein">Fade-in all</option>
				<option value="fadein">Fade in pie, fade in labels</option>
				<option value="">Swoosh segments, fade in labels</option>
				<option value="">Swoosh entire pie, fade in labels</option>
			</select>
		</div>

		<div class="row col-lg-12">
			<label for="titleColor" class="control-label">Load effect speed</label>
		</div>
		<div class="row col-lg-12 form-group">
			<input type="text" class="form-control" value="{{config.effects.loadEffectSpeed}}" style="width:60px; display: inline-block" />
			<label>ms</label>
		</div>

		<div class="row col-lg-12 form-group">
			<input type="checkbox" id="highlightSegmentOnMouseover" {{#compare config.effects.highlightSegmentOnMouseover true}}checked="checked"{{/compare}} />
			<label for="highlightSegmentOnMouseover" class="control-label">Highlight pie segment on mouseover</label>
		</div>

		<div class="row col-lg-12 form-group">
			<input type="checkbox" id="pullOutSegmentOnClick" {{#compare config.effects.pullOutSegmentOnClick true}}checked="checked"{{/compare}} />
			<label for="pullOutSegmentOnClick" class="control-label">Pull out pie segment on click</label>

			<!-- segment pull-out transition effect -->
		</div>
	</div>

</div>
