<div class="row col-lg-12">
	<h4>Padding</h4>
</div>

<div class="misc">
	<div class="row">
		<div class="col-lg-3">
			<label>Canvas Top</label>
		</div>
		<div class="col-lg-3">
			<label>Canvas Right</label>
		</div>
		<div class="col-lg-3">
			<label>Canvas Bottom</label>
		</div>
		<div class="col-lg-3">
			<label>Canvas Left</label>
		</div>
	</div>

	<div class="row form-group">
		<div class="col-lg-3">
			<input type="number" id="canvasPaddingTop" value="{{config.misc.canvasPadding.top}}" min="0" class="smallField updateNoAnimation" />
		</div>
		<div class="col-lg-3">
			<input type="number" id="canvasPaddingRight" value="{{config.misc.canvasPadding.right}}" min="0" class="smallField updateNoAnimation" />
		</div>
		<div class="col-lg-3">
			<input type="number" id="canvasPaddingBottom" value="{{config.misc.canvasPadding.bottom}}" min="0" class="smallField updateNoAnimation" />
		</div>
		<div class="col-lg-3">
			<input type="number" id="canvasPaddingLeft" value="{{config.misc.canvasPadding.left}}" min="0" class="smallField updateNoAnimation" />
		</div>
	</div>


	<div class="row">
		<div class="col-lg-3">
			<label>Footer-text pad</label>
		</div>
		<div class="col-lg-3">
			<label>Label-pie dist.</label>
		</div>
		<div class="col-lg-3">
			<label>Title-subtitle pad</label>
		</div>
		<div class="col-lg-3">
		</div>
	</div>

	<div class="row form-group">
		<div class="col-lg-3">
			<input type="number" id="canvasPaddingTop" value="{{config.misc.canvasPadding.top}}" min="0" class="smallField updateNoAnimation" />
		</div>
		<div class="col-lg-3">
			<input type="number" id="labelPieDistance" value="{{config.misc.labelPieDistance}}" min="0" class="smallField updateNoAnimation" />
		</div>
		<div class="col-lg-3">
			<input type="number" id="titleSubtitlePadding" value="{{config.misc.titleSubtitlePadding}}" min="0" class="smallField updateNoAnimation" />
		</div>
		<div class="col-lg-3">
		</div>
	</div>


	<div class="row col-lg-12">
		<h4>Misc</h4>
	</div>


	<div class="row col-lg-12 form-group">
		<input type="checkbox" id="preventTextSection" {{#compare config.misc.preventTextSelection true}}checked="checked"{{/compare}} />
		<label for="preventTextSection" class="control-label">Prevent selection of text</label>
	</div>

</div>

<!--
<div class="row col-lg-12">
	<h4>Misc Options</h4>
</div>

<div class="row col-lg-12 form-group">
	<input type="checkbox" id="hideLabelsForSmallSegments" {{#compare config.misc.hideLabelsForSmallSegments true}}checked="checked"{{/compare}} />
	<label for="orderData" class="control-label">Hide labels for segments <= </label>
	<input type="text" id="hideLabelsForSmallSegments" />
	<select class="form-group">
		<option value="percent">percent</option>
		<option value="value">value</option>
	</select>
</div>

<div class="row col-lg-12 form-group">
	<input type="checkbox" id="enableTooltips" {{#compare config.misc.enableTooltips true}}checked="checked"{{/compare}} />
	<label for="enableTooltips" class="control-label">Enable tooltips</label>
</div>
-->



<!--
orderData: "hightolow", // only one option right now
-->