<div class="row col-lg-12">
	<h4>Size</h4>
</div>

<div class="row form-group">
	<div class="col-md-3">
		<label for="canvasWidth" class="control-label bl">Canvas Width</label>
		<input type="number" id="canvasWidth" value="{{config.size.canvasWidth}}" class="form-control smallField ib keyupUpdateNoAnimation" />
		<label class="ib">px</label>
	</div>
	<div class="col-md-3">
		<label for="canvasHeight" class="control-label bl">Canvas Height</label>
		<input type="number" id="canvasHeight" value="{{config.size.canvasHeight}}" class="form-control smallField ib keyupUpdateNoAnimation" />
		<label class="ib">px</label>
	</div>
	<div class="col-md-6">
		<input type="checkbox" id="showCanvasOutline" style="margin-right: 8px; margin-bottom: 10px;" checked="checked" />
		<label for="showCanvasOutline">
			Show canvas outline<br />
			<span class="note">(for visual illustration only)</span>
		</label>
	</div>
</div>

<div class="row col-lg-12">
	<label for="pieInnerRadius" class="control-label">Pie Inner Radius</label>
</div>
<div class="row col-lg-12 form-group">
	<input type="range" id="pieInnerRadius" min="0" max="100" value="{{numbersOnly config.size.pieInnerRadius}}" />
	<div class="row">
		<div class="col-lg-2">Pie</div>
		<div class="col-lg-8" id="pieInnerRadiusDisplayValue" style="text-align: center">{{config.size.pieInnerRadius}}</div>
		<div class="col-lg-2" style="text-align: right">Donut</div>
	</div>
</div>

<div class="row col-lg-12">
	<label for="pieInnerRadius" class="control-label">Pie Outer Radius</label>
</div>
<div class="row col-lg-12 form-group">
	<input type="range" id="pieOuterRadius" min="1" max="100" value="{{numbersOnly config.size.pieOuterRadius}}" />
</div>
<div class="row">
	<div class="col-lg-2"></div>
	<div class="col-lg-8" id="pieOuterRadiusDisplayValue" style="text-align: center">{{config.size.pieOuterRadius}}</div>
	<div class="col-lg-2"></div>
</div>
