<li>
	<span class="handle"></span>
	<span><input type="text" class="dataLabel keyupUpdateNoAnimation" value="{{label}}" /></span>
	<span><input type="text" class="dataValue keyupUpdateNoAnimation" value="{{value}}" /></span>
	<span><input type="number" class="dataOffsetX changeUpdateNoAnimation" value="{{#if outerLabel.x}}{{outerLabel.x}}{{else}}0{{/if}}" step="5" /></span>
	<span><input type="number" class="dataOffsetY changeUpdateNoAnimation" value="{{#if outerLabel.y}}{{outerLabel.y}}{{else}}0{{/if}}" step="5" /></span>
	<span><input type="number" class="dataOffsetX changeUpdateNoAnimation" value="{{#if innerLabel.x}}{{innerLabel.x}}{{else}}0{{/if}}" step="5" /></span>
	<span><input type="number" class="dataOffsetY changeUpdateNoAnimation" value="{{#if innerLabel.y}}{{innerLabel.y}}{{else}}0{{/if}}" step="5" /></span>
	<span class="removeRow"></span>
</li>
