<li>
	<span class="handle"></span>
	<span><input type="text" class="dataLabel" value="{{label}}" /></span>
	<span><input type="text" class="dataValue" value="{{value}}" /></span>
	<span><input type="number" class="dataOffsetX changeUpdateNoAnimation" value="{{#if x}}{{x}}{{else}}0{{/if}}" step="5" /></span>
	<span><input type="number" class="dataOffsetY changeUpdateNoAnimation" value="{{#if y}}{{y}}{{else}}0{{/if}}" step="5" /></span>
	<span class="removeRow"></span>
</li>
