<li>
	<span class="dataRowIndex">{{count @index}}</span>
	<span class="handle"></span>
	<span class="color segmentColor" data-color-format="hex" data-color="{{color}}" style="background-color:{{color}}"></span>
	<span><input type="text" class="dataLabel" value="{{label}}" /></span>
	<span><input type="text" class="dataValue keyupUpdateNoAnimation floatingNum" value="{{value}}" /></span>
	<span class="removeRow"></span>
</li>
