<div class="row col-lg-12">
	<h4>Data Settings</h4>
</div>

<div class="row">
    <div class="col-md-3">
        <label>Order data by</label>
    </div>
    <div class="col-md-9 form-group">
        <select id="dataSortOrder" class="form-control changeUpdateNoAnimation">
            <option value="none" {{#compare config.misc.dataSortOrder "none"}}selected="selected"{{/compare}}>Item listing</option>
            <option value="random" {{#compare config.misc.dataSortOrder "random"}}selected="selected"{{/compare}}>Random</option>
            <option value="value-asc" {{#compare config.misc.dataSortOrder "value-asc"}}selected="selected"{{/compare}}>Value - Ascending</option>
            <option value="value-desc" {{#compare config.misc.dataSortOrder "value-desc"}}selected="selected"{{/compare}}>Value - Descending</option>
            <option value="label-asc" {{#compare config.misc.dataSortOrder "label-asc"}}selected="selected"{{/compare}}>Label - A-Z</option>
            <option value="label-desc" {{#compare config.misc.dataSortOrder "label-desc"}}selected="selected"{{/compare}}>Label - Z-A</option>
        </select>
    </div>
</div>

<div class="row col-md-12" style="padding-top: 10px">
    <h4>Data</h4>
</div>

<div class="clear" />

<ul id="sortableDataListHeader">
	<li class="col0"></li>
	<li class="col1">Label</li>
	<li class="col2">Value</li>
	<li class="col3">+/- x</li>
	<li class="col4">+/- y</li>
</ul>

<div class="clear" />

<ul id="sortableDataList">
{{#each config.data}}
	<li>
		<span class="handle"></span>
		<span><input type="text" class="dataLabel" value="{{label}}" /></span>
		<span><input type="text" class="dataValue" value="{{value}}" /></span>
		<span><input type="number" class="dataOffsetX" value="{{#if x}}{{x}}{{else}}0{{/if}}" /></span>
		<span><input type="number" class="dataOffsetY" value="{{#if y}}{{y}}{{else}}0{{/if}}" /></span>
		<span class="removeRow"></span>
	</li>
{{/each}}
</ul>

<ul class="pager">
	<li class="previous"><a href="#">Add row &raquo;</a></li>
</ul>
