<h4 class="panelToggle panelDataSectionToggle{{#if openSections.panelData}} expanded{{/if}}" data-section="panelData">Data<span></span></h4>

<div id="panelData" {{#compare openSections.panelData false}}class="hidden"{{/compare}}>
	<div class="row">
		<div class="col-md-3">
			<label>Order data by</label>
		</div>
		<div class="col-md-9 form-group">
			<select id="dataSortOrder" class="form-control changeUpdateNoAnimation">
				<option value="none" {{#compare config.data.sortOrder "none"}}selected="selected"{{/compare}}>Item listing</option>
				<option value="random" {{#compare config.data.sortOrder "random"}}selected="selected"{{/compare}}>Random</option>
				<option value="value-asc" {{#compare config.data.sortOrder "value-asc"}}selected="selected"{{/compare}}>Value - Ascending</option>
				<option value="value-desc" {{#compare config.data.sortOrder "value-desc"}}selected="selected"{{/compare}}>Value - Descending</option>
				<option value="label-asc" {{#compare config.data.sortOrder "label-asc"}}selected="selected"{{/compare}}>Label - A-Z</option>
				<option value="label-desc" {{#compare config.data.sortOrder "label-desc"}}selected="selected"{{/compare}}>Label - Z-A</option>
			</select>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<label>Color sets</label>
		</div>
		<div class="col-md-6 form-group">
			<select id="colorSets" class="form-control">
				<option value="">&#8212;</option>
				<option value="default-palette">Default palette</option>
				<optgroup label="Small sets (10 colors)">
					{{#each colorsets.small}}
						<option value="small-{{@index}}">{{label}}</option>
					{{/each}}
				</optgroup>
				<optgroup label="Medium sets (20 colors)">
					{{#each colorsets.medium}}
						<option value="medium-{{@index}}">{{label}}</option>
					{{/each}}
				</optgroup>
				<optgroup label="Large sets (30 colors)">
					{{#each colorsets.large}}
						<option value="large-{{@index}}">{{label}}</option>
					{{/each}}
				</optgroup>
			</select>
		</div>
		<div class="col-md-3">
			<button id="shuffleColors" class="btn btn-info btn-sm">Shuffle</button>
		</div>
	</div>

	<ul id="sortableDataListHeader">
		<li class="col0"></li>
		<li class="col1"></li>
		<li class="col2">Text</li>
		<li class="col3">Value</li>
	</ul>
	<div class="clear" />

	<ul id="sortableDataList">
	{{#each config.data.content}}
		{{> data-row }}
	{{/each}}
	</ul>

	<ul class="pager">
		<li class="previous"><a href="#" id="addRow">Add row &raquo;</a></li>
	</ul>
</div>

<h4 class="panelToggle panelDataSectionToggle{{#if openSections.panelSmallSegmentGrouping}} expanded{{/if}}" data-section="panelSmallSegmentGrouping">Small Segment Grouping<span></span></h4>

<div id="panelSmallSegmentGrouping" {{#compare openSections.panelSmallSegmentGrouping false}}class="hidden"{{/compare}}>
	<div class="row paddedRow">
		<div class="col-md-12">
			<input type="checkbox" id="groupSmallDataSegments" {{#if config.data.smallSegmentGrouping.enabled}}checked="checked"{{/if}} />
			<label for="groupSmallDataSegments" id="groupSmallDataSegmentsEnabled">Enabled</label>
		</div>
		<div class="col-md-12">
			<label for="smallSegmentGroupingValueType" class="control-label{{#compare config.data.smallSegmentGrouping.enabled false}} disabled{{/compare}}">Group segments with</label>
			<select id="smallSegmentGroupingValueType" class="form-control changeUpdateNoAnimation" {{#compare config.data.smallSegmentGrouping.enabled false}}disabled="disabled"{{/compare}}>
				<option value="percentage" {{#compare config.data.smallSegmentGrouping.valueType "percentage"}}selected="selected"{{/compare}}>percentage</option>
				<option value="value" {{#compare config.data.smallSegmentGrouping.valueType "value"}}selected="selected"{{/compare}}>value</option>
			</select>
			<label class="{{#compare config.data.smallSegmentGrouping.enabled false}}disabled{{/compare}}">under</label>
			<input type="number" class="keyupUpdateNoAnimation" min="0" style="width:80px" {{#compare config.data.smallSegmentGrouping.enabled false}}disabled="disabled"{{/compare}}
				id="smallSegmentGroupingValue" value="{{config.data.smallSegmentGrouping.value}}" />
			<label id="smallSegmentPercentageUnit" class="{{#compare config.data.smallSegmentGrouping.enabled false}}disabled{{/compare}}">%</label>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<label class="control-label {{#compare config.data.smallSegmentGrouping.enabled false}} disabled{{/compare}}">Group Label</label>
		</div>
		<div class="col-md-6">
			<label class="control-label {{#compare config.data.smallSegmentGrouping.enabled false}} disabled{{/compare}}">Segment Color</label>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-6">
			<input type="text" class="form-control" id="smallSegmentGroupingLabel" value="{{config.data.smallSegmentGrouping.label}}"
				{{#compare config.data.smallSegmentGrouping.enabled false}}disabled="disabled"{{/compare}} />
		</div>
		<div class="col-md-6">
			<div id="smallSegmentColorGroup" class="colorGroup input-group form-group">
				<input type="text" id="smallSegmentColor" value="{{config.data.smallSegmentGrouping.color}}" class="form-control"
					{{#compare config.data.smallSegmentGrouping.enabled false}} disabled="disabled"{{/compare}} />
				<span class="input-group-addon"><i></i></span>
			</div>
		</div>
	</div>
</div>

<br />
